.container__main {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 22px;
  overflow-x: hidden;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__header > div {
  display: flex;
  gap: 12px;
  max-width: 450px;
  flex: 1;
}

.main__header > div > a {
  background: var(--black);
  color: var(--white);
  padding: 8px 16px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__input {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--gray-400);
  padding: 8px;
  max-width: 350px;
  width: 100%;
  border-radius: 4px;
}

.header__input > i {
  color: var(--gray-400);
  font-size: 1.375rem;
}

.header__input > input {
  flex: 1;
  font-size: 1rem;
}

.header__input:focus-within {
  border-color: var(--black);
  outline: none;
}

.header__input > input:focus {
  box-shadow: none;
}

.main__list_container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 22px 0;
}

.main__list_container > li {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid var(--gray-200);
}

.main__list_container > li > footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main__list_container > li > footer > a {
  border: 1px solid var(--gray-200);
  font-size: 0.875rem;
  padding: 6px 16px;
  border-radius: 4px;
  font-weight: 500;
  color: var(--gray-900);
}

.list_container__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--gray-900);
  padding-bottom: 16px;
}

.list_container__content > h3 {
  font-size: 1.25rem;
}
.list_container__content > p {
  color: var(--gray-300);
  font-size: 0.875rem;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis
}

.container__empty_challenges {
  display: flex;
  align-items:center;
  justify-content:center;
  gap: 6px;
  padding: 22px;
}

.container__empty_challenges span {
  font-size: 18px;
  color: var(--gray-800);
}

.container__empty_challenges a{
  color: var(--gray-300);
  text-decoration: underline;
}

.container__empty_challenges i {
  font-size: 26px;
}
