.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding: 22px
}

.container>div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 22px;

  flex: 1;
  width: 100%;
}

.container>div>section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.container>div>section>h1 {
  color: var(--gray-900);
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.container>div>section>span {
  color: var(--gray-400);
  font-size: 1rem;
}

div>section {
  display: flex;
  flex-direction: column;
}

.container div>button {
  background-color: var(--black);
  color: var(--white);
  border-radius: 8px;
  padding: 12px;
  max-width: 380px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font-size: 1.125rem;
}

.container div>button:last-child {
  background: var(--gitlab-color)
}

div>button i {
  color: var(--white);
  font-size: 1.5rem;
}

.container div>button:first-of-type:hover {
  background: var(--hover-button);
  transition: all 0.3s linear;
}


.container div>button:last-child:hover {
  filter: brightness(.9);
  transition: all 0.3s linear;
}

.section__users {
  display: flex;
  align-items: center;
  gap: 12px;
}

.container__users {
  display: flex;
  align-items: center;
}

.container__users>li>img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--black);
}

.container__users>li:not(:first-child) {
  margin-left: -18px;
}

.container__count_persons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.container__count_persons span:first-child {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray-900);
}

.container__count_persons span:last-child {
  color: var(--gray-400);
}

.container__count_persons i {
  font-size: 22px;
  color: var(--gray-400)
}

.container__count_challenges b {
  font-size: 1.5rem;
}

.container__count_challenges>span {
  font-size: 1.25rem;
  color: var(--gray-400);
  text-transform: uppercase;
}