{{ define "components/modalCategory.tmpl"}}
<div id="modal">
  <div>
    <header>
      <h3>Favoritar nova categoria</h3>
    </header>
    <ul>
      <template>

      </template>
    </ul>
  </div>
</div>

{{ end }}