<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/pages/challenge.css">
  {{ template "templates/head.tmpl" }}
  <title>Document</title>
</head>

<body x-data="{comments}">
  {{template "templates/header.tmpl" }}
  <main class="container__main">
    <div>

    <header>
      <div class="header__presentation">
        <span>Desafio</span>
        <span x-text="dayjs('2024-03-12').fromNow()"></span>
      </div>
      <div class="header__title">
        <h2>Create a new component</h2>
        <p>
          Create a new component that showcases your creativity. It can be anything from a button to an entire page. Style it, animate it, make it your own. We can't wait to see what you come up with!
        </p>
      </div>
    </header>
    <section class="container__video">
      <iframe src="https://www.youtube.com/embed/4Pjp_1hBnVU?si=F0ruAhmOV0cnbUrY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>

    <section class="container__comments">
      <h3>110 Comentários</h3>
     
      <ul>
        <template x-for="comment in comments">
            <li class="container__comment">
              <img src="https://avatars.githubusercontent.com/u/86238635?v=4" alt="Icaro's avatar" />
              <div>
                <header>
                  <b x-text="'@'+comment.user"></b>
                  <span x-text="comment.createdAt"></span>
                </header>
                <p x-text="comment.comment"></p>
              </div>
              </li>
        </template>
      </ul>

      <form>
        <textarea
          placeholder="Escreva seu comentário"
        ></textarea>
        <button>
          <span>Comentar</span>
          <i class="ph ph-chat-teardrop"></i>
        </button>
      </form>
    </section>
    </div>
    <section class="container__help">
      <header>
        <i class="ph ph-lightbulb"></i>
      <h3>Dicas sobre o tema</h3>
      </header>
      <ol>
        <li>  Esboce a estrutura básica do novo componente, incluindo seus elementos principais e sua finalidade.</li>
<li>Implemente o código necessário para o componente, seguindo as diretrizes de design e funcionalidade definidas.</li>
<li>Teste o novo componente em diferentes cenários e ambientes para garantir sua integridade e compatibilidade com o sistema existente.</li>
      </ol>
    </section>
  </main>

  <script>
    const comments = Array.from({length: 10}).map((_, idx) => ({
      user: `Alice ${idx+1}`,
      comment: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Et natus impedit nemo possimus? Dolorem voluptates labore a beatae reprehenderit adipisci, ut maiores deleniti voluptatem quam odio, quasi aut mollitia voluptas?",
      createdAt: dayjs(new Date()).fromNow()
    }))
  </script>
</body>

</html>
