<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/pages/home.css">
  {{ template "templates/head.tmpl" }}
  <title>Document</title>
</head>

  <body x-data>
  {{template "templates/header.tmpl" }}

  <main class="container__main">
    <header class="main__header">
      <h1>Challenges</h1>
      <div>
        <div class="header__input">
          <i class="ph ph-magnifying-glass"></i>
          <input placeholder="Search challenges" />
        </div>
        <a href="/new_challenge">
          Create
        </a>
      </div>
    </header>

    <ul class="main__list_container">

        {{range .challenges}}
        <li>
          <div class="list_container__content">
            <h3>{{ .Title }}</h3>
            <p>{{ .Description }}</p>
            <time x-text="'Criado em ' + formatDate(new Date('{{.CreatedAt}}'))"></time>
          </div>
          <footer>
            <a href="/challenge/{{ .ID }}">
              visualizar
            </a>
          </footer>
        </li>
        {{ end }}
    </ul>
  </main>

  <script>

    function formatDate(date) {

  console.log(date)

      return new Intl.DateTimeFormat("pt-BR", {
        day: "numeric",
        month: "long",
        year: "numeric",
      }).format(new Date(date)) ;
    }
  </script>

</body>

</html>
