<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/base.css">
  <link rel="stylesheet" href="/assets/styles/pages/login.css">
  {{ template "templates/head.tmpl" }}
  <title>Test</title>
</head>

<body x-data>
  <main class="container">
    <img src="/assets/images/login.png" />
    <div>
      <button @click="onLogin">
        <i class="ph ph-github-logo"></i>
        Login with GitHub
      </button>
    </div>
  </main>

  <script>
    async function onLogin() {
      window.open(
        "https://github.com/login/oauth/authorize?client_id=59928a2b5e7e2e57d58a&redirect_uri=http://localhost:8080",
        "_self")
    }

    window.addEventListener("load", async () => {
      const url = new URL(window.location.href)
      const code = url.searchParams.get("code")

      if (code) {
        const request = await fetch(`/api/v1/login/${code}`)
        console.log(await request.json())
      }
    })
  </script>
</body>

</html>