<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/pages/login.css">
  {{ template "templates/head.tmpl" }}
  <title>DEVELOPER ACADEMY | Login</title>
</head>

<body>
  <main x-data class="container">
    <div>
      <section>
        <h1>Login</h1>
        <span>The platform for developers</span>
        <div class="container__count_challenges">
          <b>
            <span>+</span>
            <span>{{ .challenges }}</span>
          </b>
          <span>Desafios na plataforma</span>
        </div>
        <div class="section__users">
          <ul class="container__users">
            {{ range .users }}
            <li>
              <img src="{{ .AvatarUrl }}" alt="{{ .Name }}" />
            </li>
            {{ end }}
          </ul>

          <div class="container__count_persons">
            {{ if gt .quantity 0}}
            <span>+{{ .quantity }}</span>
            <span>pessoas já estão usando</span>
            {{ end }}
            {{ if le .quantity 0}}
            <span></span>
            <span>Seja o pioneiro a ingressar na plataforma!</span>
            <i class="ph ph-code"></i>
            {{ end }}
          </div>
        </div>

      </section>
      <button @click="onLogin">
        <i class="ph ph-github-logo"></i>
        Login with GitHub
      </button>

      <button @click="loginWithGitlab">
        <i class="ph ph-gitlab-logo"></i>
        Login with Gitlab
      </button>
    </div>
  </main>

  <script>
    async function onLogin() {
      window.open(
        "https://github.com/login/oauth/authorize?client_id={{.client_id}}",
        "_self"
      )
    }
    function loginWithGitlab() {
      const url = `${window.location.href}?provider=gitlab`

      window.open(
        `https://gitlab.com/oauth/authorize?client_id={{.gitlab_client_id}}&redirect_uri=${url}&response_type=code&scope=read_user`,
        "_self"
      )
    }
  </script>

  <script type="module">
    import {
      UserService
    } from '/assets/js/index.js'


    const userService = new UserService()

    window.addEventListener("load", async () => {
      const url = new URL(window.location.href)
      const code = url.searchParams.get("code")
      let provider = url.searchParams.get("provider")

      if (!provider) {
        provider = "github"
      }

      if (code) {
        const authIsSuccess = await userService.auth(code, provider)

        if (authIsSuccess) {
          window.location.replace("/home")
        }
      }
    })
  </script>
</body>

</html>