<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/pages/login.css">
  {{ template "templates/head.tmpl" }}
  <title>Test</title>
</head>

<body x-data>
  <main class="container">
    <div>
      <section>
        <h1>Login</h1>
        <span>The platform for developers</span>
        <div class="section__users">
          <ul class="container__users">
            {{ range .users }}
            <li>
              <img src="{{ .AvatarUrl }}" alt="{{ .Name }}" />
            </li>
            {{ end }}
          </ul>
          <div class="container__count_persons">
            {{ if gt .quantity  0}}
            <span>+{{ .quantity }}</span>
            {{ end }}
            <span>pessoas já estão usando</span>
          </div>
        </div>
      </section>
      <button @click="onLogin">
        <i class="ph ph-github-logo"></i>
        Login with GitHub
      </button>
    </div>
  </main>

  <script>
    async function onLogin() {
      window.open(
        "https://github.com/login/oauth/authorize?client_id=59928a2b5e7e2e57d58a&redirect_uri=http://localhost:8080",
        "_self")
    }
  </script>

  <script type="module">
    import {
      UserService
    } from '/assets/js/index.js'


    const userService = new UserService()

    window.addEventListener("load", async () => {
      const url = new URL(window.location.href)
      const code = url.searchParams.get("code")

      if (code) {
        const authIsSuccess = await userService.auth(code)

        if (authIsSuccess) {
          window.location.replace("/home")
        }
      }
    })
  </script>
</body>

</html>