{{ define "templates/header.tmpl" }}
<link rel="stylesheet" href="/assets/styles/components/header.css">
<header class="header__container">
  <div>
    <a class="header__title" href="/">
      <div>
        <i class="ph ph-flag"></i>
        <h2>Challenges</h2>
      </div>
      <span>Platform for developer challenges</span>
    </a>
    <div class="header__profile">
      <div>
        <span>@Icaro Vieira</span>
        <span>icaro@icaro.com</span>
      </div>
      <img src="https://avatars.githubusercontent.com/u/86238635?v=4" alt="Icaro's avatar" />
    </div>
  </div>
  <script defer type="module" src="/assets/js/index.js">
    console.log("Hello World")
    const userService = new UserService()

    const user = userService.getProfile()

    console.log(user)
  </script>
</header>
{{ end }}