{{ define "templates/head.tmpl" }}

<link rel="stylesheet" href="/assets/styles/base.css">
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/isBetween.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/minMax.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/relativeTime"></script>
<script src="https://unpkg.com/dayjs@1.8.21/locale/pt-br"></script>
<!-- <script src="https://unpkg.com/bulma-toast"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" /> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" /> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> -->
<script type="importmap">
  {
    "imports": {
      "lit": "https://unpkg.com/lit/index.js",
      "lit/": "https://unpkg.com/lit/",
      "@lit/reactive-element": "https://unpkg.com/@lit/reactive-element/reactive-element.js",
      "@lit/reactive-element/": "https://unpkg.com/@lit/reactive-element/",
      "lit-element": "https://unpkg.com/lit-element/index.js",
      "lit-element/": "https://unpkg.com/lit-element/",
      "lit-html": "https://unpkg.com/lit-html/lit-html.js",
      "lit-html/": "https://unpkg.com/lit-html/"
    }
  }
  </script>
<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->
<script type="module">
  dayjs.extend(window.dayjs_plugin_isBetween)
  dayjs.extend(window.dayjs_plugin_minMax)
  dayjs.extend(window.dayjs_plugin_relativeTime)
  dayjs.locale('pt-br')
</script>

{{end}}