{{define "templates/scripts.tmpl"}}
<script type="module" src="/assets/js/components/card-component.js"></script>
<script type="module" src="/assets/js/components/reset-css.js"></script>
<script type="module" src="/assets/js/pages/home/challenge-list-component.js"></script>

{{end}}